/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.article-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

.article {
  display: flex;
  flex-direction: column; /* Image below title */
  gap: 20px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  align-items: center; /* Center the content */
}

.article img {
  width: 1000px; /* Ensure the image width stays the same */
  height: auto;
  border-radius: 8px;
  
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; /* Center the text */
}

.article-title {
  font-size: 34px;
  font-weight: bold;
  color: #333;
  text-align: center; /* Title centered */
}

.article-description {
  font-size: 22px;
  color: #555;
  margin-top: 10px;
  text-align: center; /* Description centered */
}

/* Responsive Design */
@media (max-width: 1024px) {
 
  .article img {
    width: 650px;
  }
}

@media (max-width: 768px) {
  .article {
    
    flex-direction: column;
    align-items: center;
  }
 
  
.article-grid{
  display: flex;
  flex-direction: column;
  
}
  .article img {
    width: 400px; /* Maintain image width */

  }

  .article-title {
    font-size: 20px;
  }

  .article-description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .article-title {
    font-size: 18px;
  }
  .article img {
    width: 250px; /* Maintain image width */
  }

  

  .article-description {
    font-size: 12px;
  }
}
@media (max-width: 325px){
  .article img{
    width: 180px;
  }
}
@media (max-width: 255px){
  .article img{
    width: 80px;
  }
}