/* styles.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #002521, #040b28);
   
  }
  
  
  
  .form-container {
    backdrop-filter: blur(10px); /* Background ko blur karega */

    padding: 3rem;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 320px;
    text-align: center;
    transition: all 0.3s ease;
    border: 2px solid white;
    
  }
  
  h2 {
    font-size: 1.75rem;
    color: #1b71c7;
    margin-bottom: 1rem;
  }
  
  p {
    color: #185a9d;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  input {
    width: 90%;
    padding: 0.65rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    color: black;
  }
  
  .submit-btn {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    background-color: #43cea2;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    align-items: center;
  }
  
  .submit-btn:hover {
    background-color: #36a083;
  }
  
  .toggle-text {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #185a9d;
    cursor: pointer;
    text-decoration: underline;
  }
  